* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10x;
}

:root {
    --salesforce-blue: #00A1E0;
    --black: #000000;
    --white: #FFFFFF;
}

html {
    font-family: sans-serif;
    width: 500px;
    height: 400px !important;
}

label {
    font-size: 0.7rem;
    cursor: pointer;
}

h1 {
    font-size: 0.8rem;
}

table, th, td {
    text-align: left;
    font-size: 0.8rem;
}

th,td {
    padding: 0.2rem;
}

table {
    width: 100%;
}
button {
    padding: 0.4rem;
    border: 0.07rem solid var(--salesforce-blue);
    border-radius: 0.2rem;
    color: var(--salesforce-blue);
    background-color: var(--white);
    cursor: pointer;
}

input[type = "Text"]:focus, textarea:focus, select:focus {
    outline: 0.1rem inset var(--salesforce-blue);
}   

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: var(--salesforce-blue);
    color: var(--white);
}
.padding_m {
    padding: 0.5rem;
}

.padding_m_right {
    padding: 0.5rem;
}

.hidden {
    display: none;
}
.header_footer {
    background-color: var(--salesforce-blue);
    text-align: center;
    padding: 2vh;
    color: var(--white);
    vertical-align: middle;
}

/* Header Section */
.header_only {
    font-size: large;
    padding: 1rem;
    text-align: left;
}

.logo {
    position: absolute;
    top: 50;
    right: 0;
    bottom: 50;
}
/* Header Section End*/

/* Footer Section */
.footer_only {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.footer_only a {
    color: var(--white);
}
/* Footer Section End*/

.simple_flex {
    display: flex;
    align-items: top;
    gap: 0.5rem;
}
.simple_flex_col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Main Section */
.main_container {
    margin: 1rem 0 0 0.5rem;
    overflow: auto;
}
.major_action_input {
    margin: 0 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    border: 0.07rem solid var(--salesforce-blue);
    border-radius: 0.2rem;
}

.major_description {
    padding: 0 0 0 1rem;
}
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}
.major_button:active {
    transform: scale(0.95); /* Slightly shrink */
}
.margin_m_top {
    margin-top: 1rem;
}

/* Collected Data section */
.collected_data_table_root {
    max-height: 36vh;
}

.price_action_table_container {
    width: 100%;
    overflow-y: auto;
    max-height: 30vh;
}

.price_action_table_head {
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1;
}
#price_action_table{
    border-spacing: 0;
    border-collapse: separate;
}

/* Error section */
.collected_data_error_root {
    margin-top: 0.5rem;
}

/* Main Section */
